@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
} 

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #242424;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo{
  width: 139px;
  margin-right: auto;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #242424;
}

.navigation-user .button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF; 
  background-color: #dbb590;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../image/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.content-image{
  display: block;
  margin: 0 auto;
}

.index-text {
  text-align: center;
  background-color: #FFFFFF; 
}

.content-text {
  color: #333333;
}

.content-text-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #242424;
}

.advantages-list {
  margin: 0;
  padding: 0;
}        

.index-list {
display: flex;
}

.advantages-item-1 {
  width: 400px;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-first {
  text-align: center;
}

.advantages-title-second {
  color: #242424;
}

.advantages-number{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description-second {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-list-1 {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.advantages-item-2 {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item-3 {
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
}

.advantages-item-4 {
  background: #f0f6fa
}

.advantages-item-5 {
  background-color: #FFFFFF;
}

.advantages-hotel {
  text-align: center;
}
.advantages-title-registration {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description-registration  {
  color: #333333;
}

.advantages-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
}

.newsletter-1 {
  background-image: url("../image/background-1.jpg");
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat; 
  text-align: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.field {
  font-size: 18px;
  line-height: 21px;
  align-items: center;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.footer-social-list {
  margin-left: 70px;
  padding: 0;
  width: 142px;
  
}

.footer-contacts-address-phone {
  width: 331px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo{
  width: 115px;
  margin-right: 70px;
}

.inner-header {
  padding: 0 70px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../image/background-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; 
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs{
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.index-catalog {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.button-1 {
  color: #FFFFFF;
  background: #82B3D3;
}

.button-2 {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.product-list {
  margin: 0 73px 0 71px;
  padding: 0;
}

.select-control h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-button {
  color: #FFFFFF;
  background: #756157;
}

.button-3 {
  color: #FFFFFF;
  background: #7DB54F;
}

.product-card-raiting {
  font-size: 16px;
  line-height: 20px; 
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
}

.about-text {
  color: #333333;
}

.newsletter {
  text-align: center;
}

.newsletter-content-1 {
  text-align: center;
  color: #333333;
}