@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #242424;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.navigation-logo {
  width: 139px;
  margin: 0 30px -30px 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 350px;
  margin-left: auto;
}
.navigation-icon {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.navigation-icon-favorite {
  background-image: url("../image/figure.svg");
  background-repeat: no-repeat;
  background-position: right 5px top 13px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #242424;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-user .button {
  margin: 14px 0;
  min-width: 130px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.navigation-user .button:hover {
  background-color: #615048;
}

.navigation-user .button:focus {
  background-color: #615048;
}

.main-container {
  flex-grow: 1;
  padding-top: 50px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../image/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.content-image {
  display: block;
  margin: 0 auto;
}

.index-text {
  padding-top: 62px;
  padding-bottom: 90px;
  text-align: center;
  background-color: #FFFFFF;
}

.content-text {
  margin: 0;
  color: #333333;
}

.content-text-big {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #242424;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-1 {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-first {
  margin-top: 92px;
  text-align: center;
}

.advantages-title-second {
  margin-top: 102px;
  color: #242424;
}

.advantages-title-third {
  margin-top: 182px;
  color: #242424;
}

.advantages-number {
  margin: 30px 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description {
  margin: 0 84px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description-second {
  margin: 0 84px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.advantages-item-2 {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item-3 {
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
}

.advantages-item-4 {
  background-image: url("../image/advantage/housing-icon-1.svg");
  background-color: #f0f6fa;
}

.advantages-item-5 {
  background-image: url("../image/advantage/meal-icon-2.svg");
  background-color: #FFFFFF;
}

.advantages-item-6 {
  background-image: url("../image/advantage/souvenirs-icon-3.svg");
  background-color: #f0f6fa;
}

.advantages-hotel {
  padding: 92px 304px;
  margin: 0;
  text-align: center;
}

.advantages-title-registration {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description-registration {
  margin: 0;
  margin-bottom: 56px;
  color: #333333;
}

.advantages-link {
  padding: 12px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
}

.advantages-link:hover {
  background: #615048;
}

.advantages-link:focus  {
  background: #615048;
}

.newsletter-1 {
  padding: 94px 200px;
  margin: 0;
  background-image: url("../image/background-1.jpg");
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-content {
  margin: 0;
  margin-bottom: 46px;
}

.newsletter-button{
  color: #FFFFFF;
  background: #82B3D3;
}

.newsletter-button:hover {
  background: #68A2CA;
}

.newsletter-button:focus {
  background: #68A2CA;
}

.field {
  font-size: 18px;
  line-height: 21px;
  align-items: center;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  margin: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link:hover {
  background: #68A2CA;
}

.footer-social-link:focus {
  background: #68A2CA;
}
.footer-social-vk {
  background-image: url("../image/social/Vkontakte.svg");
}

.footer-social-telegram {
  background-image: url("../image/social/telegram.svg");
}

.footer-social-youtube {
  background-image: url("../image/social/youtube.svg");
}

.footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-logo {
  width: 115px;
}

.footer-logo:hover {
  background:  #756157;
}

.footer-logo:focus {
  background:  #756157;
}

.inner-header {
  margin: 0;
  padding: 0 70px 70px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../image/background-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 36px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 60px;
}

.breadcrumbs {

  display: flex;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 25px;
}

.index-catalog {
  display: flex;
  padding: 0;
  margin-top: 40px;
  width: 1060px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.button {
  display: inline-block;
  padding: 10px 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button-1 {
  min-width: 110px;
  color: #FFFFFF;
  background: #82B3D3;
}

.button-1:hover {
  background-color: #68A2CA;
}

.button-1:focus {
  background-color: #68A2CA;
}

.button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-1:disabled:hover {
  background-color: #82B3D3;
  outline: none;
  cursor: default;
}

.button-2 {
  min-width: 110px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.product-list {
  margin: 0 72px;
  padding: 0;
}

.product-list-card {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  list-style-type: none;
}

.sorting-container {
  display: flex;
  margin: 58px 72px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
}

.select-control-title {
  margin: 0;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  margin-right: auto;
}
.product-card {
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.product-container {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px 16px;

}

.product-card-title {
  margin: 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-button {
  min-width: 110px;
  color: #FFFFFF;
  background: #756157;
}

.button-3 {
  min-width: 110px;
  color: #FFFFFF;
  background: #7DB54F;
}

.button-3:hover {
  background-color: #6C9E42;
}

.button-3:focus {
  background-color: #6C9E42;
}

.button-3:disabled:hover {
  background-color: #7DB54F;
  outline: none;
  cursor: default;
}

.product-card-star {
  background-image: url("../image/star.svg");
  background-repeat: no-repeat
}

.product-card-raiting {
  padding: 10px 22px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  margin: 0;
  padding: 30px 74px 24px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 14px 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link:hover {
  background: #68A2CA;
}
.pagination-link:focus {
  background: #68A2CA;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.pagination-about-text {
  margin-left: auto;
  color: #333333;
}

.newsletter {
  padding: 94px 200px;
  margin: 0;
  text-align: center;
}

.newsletter-content-1 {
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 46px;
}
